<h2>Please leave us a review and rating!</h2>
<h2 style="margin-top:0px;"><small>You are currently reviewing '<%= @product.name %>'</small></h2>


<%= render 'form', :review => @review, :product => @product %>
