/* Admin Styles */
/* line 3, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
#mobile-shop .btn:visited {
  color: #fff;
}

/* line 7, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.lines-button:active:focus {
  outline: none !important;
  background: transparent;
  box-shadow: none !important;
}

/* line 14, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
fieldset .filter-actions {
  margin-bottom: 32px;
}

/* line 18, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
#admin-menu ul {
  margin-bottom: 0px;
}

/* line 22, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
a:hover {
  text-decoration: none;
}

/* line 27, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
table th.actions [class*='fa-'].no-text, table td.actions [class*='fa-'].no-text {
  height: 30px;
  width: 30px;
  padding-top: 7px;
  padding-left: 3px;
}

/* line 34, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
#content-header {
  border-bottom: none;
}
/* line 37, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
#content-header .row {
  margin-bottom: 0px;
}

/* line 42, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.pagination {
  display: block;
  text-align: left;
}

/* line 47, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
fieldset .filter-actions button, fieldset .filter-actions .button, fieldset .filter-actions input[type="submit"], fieldset .filter-actions input[type="button"], fieldset .filter-actions span.or {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
}

/* line 55, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
#admin-menu li .dropdown {
  right: 0;
  display: block;
}

/* line 60, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
#admin-menu li .dropdown > li {
  display: block;
}

/* Flexnav Base Styles */
/* line 72, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0;
}
/* line 83, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav.opacity {
  opacity: 0;
}
/* line 87, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav.flexnav-show {
  max-height: 2000px;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* line 95, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav.one-page {
  position: fixed;
  top: 50px;
  right: 5%;
  max-width: 200px;
}
/* line 102, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
}
/* line 107, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav li.selected a {
  background: #3f51b5;
}
/* line 110, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav li a {
  position: relative;
  display: block;
  padding: 2em;
  z-index: 2;
  overflow: hidden;
  color: white;
  background: #3a89ff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
}
/* line 121, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav li a:hover {
  background: #3f51b5;
}
/* line 125, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav li ul {
  width: 100%;
}
/* line 128, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav li ul li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
}
/* line 136, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav li ul.flexnav-show li {
  overflow: visible;
}
/* line 141, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav li ul li a {
  display: block;
  background: #b2b2af;
}
/* line 145, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav ul li ul li a {
  background: #bfbfbc;
}
/* line 148, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav ul li ul li ul li a {
  background: #cbcbc9;
}
/* line 151, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav .touch-button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #acaca1;
  background: rgba(0, 0, 0, 0.075);
  text-align: center;
}
/* line 162, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav .touch-button:hover {
  cursor: pointer;
}
/* line 165, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.flexnav .touch-button .navicon {
  position: relative;
  top: 1.4em;
  font-size: 12px;
  color: #fff;
}

/* line 173, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.menu-button {
  position: relative;
  display: block;
  padding: 1em;
  background: #3a89ff;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 182, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.menu-button.one-page {
  position: fixed;
  top: 0;
  right: 5%;
  padding-right: 45px;
}
/* line 189, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.menu-button .touch-button {
  background: transparent;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}
/* line 200, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.menu-button .touch-button .navicon {
  font-size: 14px;
  position: relative;
  top: 1em;
  color: #fff;
}

/* line 209, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
#sub-menu li.selected a {
  text-decoration: underline;
}

@media all and (min-width: 950px) {
  /* line 214, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  body.one-page {
    padding-top: 70px;
  }

  /* line 217, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav {
    overflow: visible;
  }
  /* line 219, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav.opacity {
    opacity: 1;
  }
  /* line 222, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px;
  }
  /* line 227, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    overflow: visible;
    width: 20%;
  }
  /* line 236, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li a {
    border-left: 1px solid #3a89ff;
    text-align: center;
    padding: 2em .96em;
  }
  /* line 241, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li a:hover {
    overflow: visible;
  }
  /* line 243, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li a:hover:after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid #3f51b5;
    bottom: 0px;
    margin-bottom: -5px;
    left: 50%;
    margin-left: -10px;
    z-index: 1;
  }
  /* line 257, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li.selected a {
    overflow: visible;
  }
  /* line 260, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li.selected a:after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid #3f51b5;
    bottom: 0px;
    margin-bottom: -5px;
    left: 50%;
    margin-left: -10px;
    z-index: 1;
  }
  /* line 273, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li > ul {
    position: absolute;
    top: auto;
    left: 0;
  }
  /* line 278, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li > ul li {
    width: 100%;
  }
  /* line 282, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li ul li > ul {
    margin-left: 100%;
    top: 0;
  }
  /* line 289, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li ul li a {
    border-bottom: none;
  }
  /* line 292, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  /* line 297, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li ul.open li {
    overflow: visible;
    max-height: 100px;
  }
  /* line 301, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }

  /* line 307, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
  .menu-button {
    display: none;
  }
}
/* line 313, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie body.one-page {
  padding-top: 70px;
}
/* line 316, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav {
  overflow: visible;
}
/* line 318, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav.one-page {
  top: 0;
  right: auto;
  max-width: 1080px;
}
/* line 323, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  background-color: #a6a6a2;
  width: 20%;
  min-height: 50px;
  overflow: visible;
}
/* line 333, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li:hover > ul {
  display: block;
  width: 100%;
  overflow: visible;
}
/* line 337, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li:hover > ul li {
  width: 100%;
  float: none;
}
/* line 342, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li a {
  border-left: 1px solid #acaca1;
  border-bottom: none;
  overflow: visible;
}
/* line 347, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li > ul {
  background: #acaca1;
  position: absolute;
  top: auto;
  left: 0;
  display: none;
  z-index: 1;
  overflow: visible;
}
/* line 356, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li ul li ul {
  top: 0;
}
/* line 359, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li ul li a {
  border-bottom: none;
}
/* line 362, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li ul.open {
  display: block;
  width: 100%;
  overflow: visible;
}
/* line 366, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li ul.open li {
  width: 100%;
}
/* line 369, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav li ul.open ul.open {
  margin-left: 100%;
  top: 0;
  display: block;
  width: 100%;
  overflow: visible;
}
/* line 377, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .flexnav ul li:hover ul {
  margin-left: 100%;
  top: 0;
}
/* line 382, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie .menu-button {
  display: none;
}
/* line 385, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.oldie.ie7 .flexnav li {
  width: 19.9%;
}

/* line 390, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.your-take {
  font-size: 14px;
  background: #5cb85c;
  color: #fff;
  display: inline-block;
  padding: 8px;
}

/* line 398, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.seller-logo-admin {
  max-width: 80px;
}

/* Shipment Loading */
/* line 404, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.shipment-loading {
  z-index: 10000;
  background: rgba(248, 248, 248, 0.8);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}
/* line 412, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.shipment-loading img {
  max-width: 200px;
}

/* line 417, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.special_instructions td {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
}

/* line 422, /Users/squire/Sites/leema/app/assets/stylesheets/admin/admin.css.scss */
.state.shipped:before {
  background-color: #9FC820;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */


