/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
/* line 8, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
/* line 17, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

/* line 23, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 28, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 33, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 41, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.owl-carousel .owl-item {
  float: left;
}

/* line 45, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

/* line 48, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
/* line 58, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.grabbing {
  cursor: url(/assets/grabbing.png) 8 8, move;
}

/* fix */
/* line 65, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.carousel.css.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/
/* line 7, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.theme.css.scss */
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */
/* line 14, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.theme.css.scss */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* line 31, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.theme.css.scss */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/
/* line 39, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.theme.css.scss */
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

/* line 44, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.theme.css.scss */
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

/* line 58, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.theme.css.scss */
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */
/* line 65, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.theme.css.scss */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
/* line 77, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/owl.theme.css.scss */
.owl-item.loading {
  min-height: 150px;
  background: url(/assets/AjaxLoader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */


.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}
/* line 2, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.homepage p {
  font-size: 16px;
}

/* .homepage .navbar-default {
    background: transparent;
}
 */
/* line 11, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.intro {
  opacity: 0;
}
/* line 15, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.intro h1 {
  margin-bottom: 60px;
  color: #fff;
}

/* line 21, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.ie9 .intro {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  /* line 26, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  .intro {
    opacity: 1;
  }
  /* line 29, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  .intro h1 {
    margin-bottom: 30px;
    color: #fff;
  }
}
/* line 36, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.masthead.home {
  position: relative;
  padding: 30px 15px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: url(/assets/donut-construction.jpg);
  background-repeat: no-repeat;
  z-index: 1;
  min-height: 300px;
  background-color: transparent;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

/* line 59, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.masthead.sell {
  position: relative;
  padding: 30px 15px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: url(/assets/leema-sell-bg-dark.jpg);
  background-repeat: no-repeat;
  z-index: 1;
  min-height: 300px;
  background-color: transparent;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

/* line 82, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.check {
  color: green;
}

/* line 88, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#featured-products .welcome-product {
  padding: 0 10px;
}

/* line 94, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#features-benefits {
  background: #fff;
}

@media only screen and (max-width: 767px) {
  /* line 103, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #features-benefits .row + .row {
    padding: 0px;
  }
}
/* line 109, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
section h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}

/* line 116, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#get-started .btn {
  padding: 10px 50px;
  margin: 40px 0;
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  /* line 125, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #get-started .col-sm-4 + .col-sm-4 {
    margin-top: 40px;
  }
}
/* line 132, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#reindeer {
  background: url(/assets/pretzel-reindeer.jpg);
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

/* line 141, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#founding-sellers-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(248, 248, 248, 0.9);
  z-index: 2;
}

/* line 151, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#founding-sellers {
  z-index: 3;
}
/* line 154, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#founding-sellers h2 {
  z-index: 4;
  position: relative;
}
/* line 159, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#founding-sellers .col-xs-4 {
  margin-bottom: 20px;
  z-index: 4;
}
/* line 164, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#founding-sellers .founding-seller-logo {
  max-width: 200px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  /* line 171, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #reindeer {
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 186, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#get-started i {
  font-size: 100px;
  color: #3a89ff;
}

/* line 192, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.newsletter-alert {
  margin-bottom: 0px;
  padding: 5px;
}
/* line 196, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.newsletter-alert input:focus {
  outline: none;
}

/* line 201, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
.newsletter-alert.alert-dismissible .close {
  top: 5px;
  right: 5px;
}

/* new shit */
/* line 208, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#welcome {
  position: relative;
  padding: 0px;
  background: url(/assets/macaroons.jpg) top left no-repeat;
  background-size: 140%;
}
/* line 214, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#welcome .gradient {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.75)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
/* line 230, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#welcome .welcome-info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 4;
  width: 100%;
  padding: 5%;
}
/* line 239, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#welcome .welcome-info h1 {
  color: #fff;
  font-size: 70px;
  line-height: 1;
  text-shadow: 1px 1px 7px #000;
}
/* line 246, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#welcome .welcome-info p {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 20px;
  text-shadow: 1px 1px 7px #000;
}

@media only screen and (max-width: 767px) {
  /* line 257, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info {
    padding: 3%;
  }
  /* line 260, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info h1 {
    font-size: 55px;
  }
  /* line 264, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info p {
    font-size: 22px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 273, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome {
    background-size: cover;
  }
  /* line 277, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info h1 {
    font-size: 45px;
  }
  /* line 281, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info p {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 292, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info h1 {
    font-size: 35px;
  }
  /* line 296, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info p {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 15px;
    text-shadow: 1px 1px 7px #000;
  }
  /* line 303, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info .btn-lg {
    font-size: 14px;
  }
}
@media only screen and (max-width: 380px) {
  /* line 313, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info h1 {
    font-size: 25px;
  }
  /* line 317, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info p {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 10px;
    text-shadow: 1px 1px 7px #000;
  }
  /* line 324, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
  #welcome .welcome-info .btn-lg {
    font-size: 12px;
  }
}
/* line 331, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#instagram {
  padding: 0px;
  position: relative;
}
/* line 336, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#instagram #instagram-feed img {
  width: 20%;
  float: left;
  z-index: 2;
}
/* line 343, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#instagram .gradient {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.55)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
/* line 359, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#instagram .btn-instagram {
  z-index: 4;
  background: #517fa4;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 368, /Users/squire/Sites/leema/app/assets/stylesheets/welcome/welcome.css.scss */
#instagram .btn-instagram:hover {
  background: #306088;
  color: #fff;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* This is for the divs for sign-in/sign-up. Can we make them centered? */

