<div class="panel panel-default" id="order_details" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:confirm) %></h3>
  </div>
  <div class="panel-body">
	<%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
  </div>
</div>

<div class="well text-center form-buttons" data-hook="buttons">
	<% if signed_in? %>

	<% else %>
		<div class="text-center">
		  <p><small>By placing my order, I acknowledge that I have read, understand and agree to be bound by the leemaeats.com website <a href="/terms-of-use">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.</small></p>
		</div>
	<% end %>
  <%= submit_tag Spree.t(:place_order), :class => 'btn btn-lg btn-success' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
