// Masthead
@media (min-width:767px){
    #featured-products {
      /* Column clear fix */
      .col-lg-1:nth-child(12n+1),
      .col-lg-2:nth-child(6n+1),
      .col-lg-3:nth-child(4n+1),
      .col-lg-4:nth-child(3n+1),
      .col-lg-6:nth-child(2n+1),
      .col-md-1:nth-child(12n+1),
      .col-md-2:nth-child(6n+1),
      .col-md-3:nth-child(4n+1),
      .col-md-4:nth-child(3n+1),
      .col-md-6:nth-child(2n+1){
        clear: none;
      }
      .col-sm-1:nth-child(12n+1),
      .col-sm-2:nth-child(6n+1),
      .col-sm-3:nth-child(4n+1),
      .col-sm-4:nth-child(3n+1),
      .col-sm-6:nth-child(2n+1){
        clear: left;
      }
    }
}


/*  Medium Desktop  */
@media (min-width:992px){
    #featured-products {
      /* Column clear fix */
      .col-lg-1:nth-child(12n+1),
      .col-lg-2:nth-child(6n+1),
      .col-lg-3:nth-child(4n+1),
      .col-lg-4:nth-child(3n+1),
      .col-lg-6:nth-child(2n+1),
      .col-sm-1:nth-child(12n+1),
      .col-sm-2:nth-child(6n+1),
      .col-sm-3:nth-child(4n+1),
      .col-sm-4:nth-child(3n+1),
      .col-sm-6:nth-child(2n+1){
        clear: none;
      }
      .col-md-1:nth-child(12n+1),
      .col-md-2:nth-child(6n+1),
      .col-md-3:nth-child(4n+1),
      .col-md-4:nth-child(3n+1),
      .col-md-6:nth-child(2n+1){
        clear: left;
      }
    }
}


/*  Large Desktop  */
@media (min-width:1200px){
    #featured-products {
      /* Column clear fix */
      .col-md-1:nth-child(12n+1),
      .col-md-2:nth-child(6n+1),
      .col-md-3:nth-child(4n+1),
      .col-md-4:nth-child(3n+1),
      .col-md-6:nth-child(2n+1),
      .col-sm-1:nth-child(12n+1),
      .col-sm-2:nth-child(6n+1),
      .col-sm-3:nth-child(4n+1),
      .col-sm-4:nth-child(3n+1),
      .col-sm-6:nth-child(2n+1){
        clear: none;
      }
      .col-lg-1:nth-child(12n+1),
      .col-lg-2:nth-child(6n+1),
      .col-lg-3:nth-child(4n+1),
      .col-lg-4:nth-child(3n+1),
      .col-lg-6:nth-child(2n+1){
        clear: left;
      }
    }
}


.homepage p {
    font-size: 16px;
}

/* .homepage .navbar-default {
    background: transparent;
}
 */



.intro {

    opacity: 0;

    h1 {
        margin-bottom: 60px;
        color: #fff;
    }
}

.ie9 .intro {
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .intro {
        opacity: 1;

        h1 {
            margin-bottom: 30px;
            color: #fff;
        }
    }
}

.masthead.home {
    position: relative;
    padding: 30px 15px;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background: image-url("donut-construction.jpg");
    background-repeat: no-repeat;
    z-index: 1;
    min-height: 300px;
    background-color: transparent;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out
}

.masthead.sell {
    position: relative;
    padding: 30px 15px;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background: image-url("leema-sell-bg-dark.jpg");
    background-repeat: no-repeat;
    z-index: 1;
    min-height: 300px;
    background-color: transparent;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out
}

.check {
    color: green;
}


#featured-products {
    .welcome-product {
        padding: 0 10px;
    }
}


#features-benefits {

    background: #fff;

}

@media only screen and (max-width: 767px){
    #features-benefits {

        .row + .row {
            padding:0px;
        }
    }
}
section {
    h2 {
        margin-top: 0px;
        margin-bottom: 50px;
    }
}

#get-started, .welcome-product-grid {
    .btn {
        padding: 10px 50px;
        margin: 40px 0 0;
        font-size: 14px
    }
}

@media only screen and (max-width: 767px){
    #get-started {
        .col-sm-4 + .col-sm-4 {
            margin-top: 40px;
        }
    }
}


#featured-sellers {
    background: #fff;
}

#founding-sellers {

    .seller {
        margin-bottom: 40px;
        z-index: 4;
        position: relative;
    }

    .founding-seller-logo {
        max-width: 100px;
        width: 100%;
        margin: 0px auto 20px;
    }

    .seller-logo-link:hover {
        .founding-seller-logo {
            opacity: .75;
        }
    }

    .seller-full-name {
        font-size: 19px;
    }

    .location-store {
        color:#8d8d8d;
        font-size: 12px;
        margin-bottom: 10px;
        min-height: 35px;
    }
}

@media only screen and (max-width: 991px){
    #founding-sellers {
        .seller-full-name {
            min-height: 40px;
        }
    }
}

@media  (min-width:400px) and (max-width: 767px){
    #founding-sellers {
        .seller-full-name {
            min-height: auto;
        }
    }
}


#get-started {

    i {
        font-size: 100px;
        color: #3a89ff;
    }
}

.newsletter-alert {
    margin-bottom: 0px;
    padding: 5px;

    input:focus {
        outline: none;
    }
}

.newsletter-alert.alert-dismissible .close {
    top: 5px;
    right: 5px;
}

/* new shit */

#macaroons {
    background: image-url("macaroons.jpg") top left no-repeat;
    background-size: 140% !important;
}

#category {
    display: table;
    max-width: 100%;
    border-collapse: collapse;
    margin: 2em auto 1.5em;
    text-align: left;
    letter-spacing: -0.02em;
}

#btn-categories {
    margin-left: 5px;
    margin-right: 5px; 
}

#reindeer {
    background: image-url("pretzel-reindeer.jpg") center center no-repeat;
    background-size: 100% !important;
}

.welcome{
    position: relative;
    padding: 0px;
    height: 500px;
    width: 100%;

    .gradient {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .welcome-info {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        z-index: 4;
        width: 100%;
        padding: 5%;

        h1 {
            color:#fff;
            font-size: 70px;
            line-height: 1;
            text-shadow: 1px 1px 7px #000;
        }

        p {
            font-size: 28px;
            line-height: 1;
            margin-bottom: 20px;
            text-shadow: 1px 1px 7px #000;
        }
    }
}

@media only screen and (max-width: 767px){
    .welcome {
        height: 350px;

        .welcome-info {
            padding: 3%;

            h1 {
                font-size: 55px;
            }

            p {
                font-size: 22px;
                margin-bottom: 15px;
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .welcome {
        background-size: cover;

        .welcome-info {
            h1 {
                font-size: 45px;
            }

            p {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .welcome {
        height: 300px;

        .welcome-info {
            h1 {
                font-size: 35px;
            }

            p {
                display: none;
            }

            .btn-lg {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 380px){
    .welcome {
        height: 200px;

        .welcome-info {
            h1 {
                font-size: 25px;
            }

            p {
                font-size: 15px;
                line-height: 1;
                margin-bottom: 10px;
                text-shadow: 1px 1px 7px #000;
            }

            .btn-lg {
                font-size: 12px;
            }
        }
    }
}

#instagram {
    padding: 0px;
    position: relative;

    #instagram-feed {
        img {
            width: 20%;
            float: left;
            z-index: 2;
        }
    }

    .gradient {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.55) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.55))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .btn-instagram {
        z-index: 4;
        background:#517fa4;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    .btn-instagram:hover {
        background:#306088;
        color: #fff;
    }
}

@media only screen and (max-width: 500px){
    .btn-instagram {
        font-size: 14px;
    }
}
