<!-- <div class="announcement-bar" style="background:#28c891; color:#ffffff;">
    <p>Last minute shoppers: Enter code <strong>HOLIDAY</strong> to get free shipping through 12/22/2015!</p>
</div>
 -->
