<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
</style>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #e0e0e0">
          <tbody>
            <tr>
              <td valign="top">
                <figure id="logo" data-hook>
                  <%= link_to spree.root_url do %>
                    <img src="http://leemaeats.herokuapp.com/assets/leema-mail-logo.png">
                  <% end %>
                </figure>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <h1 style="font-size:22px;font-weight:normal;line-height:22px;font-family: 'Roboto Slab', serif;">Hey <%= Spree.t( name: @supplier.name ) %>!</h1>
                <p style="font-size:12px;line-height:16px;font-family: 'Roboto', sans-serif;">Thanks for signing up to be a seller on Leema! We can almost taste your delicious products!</p>
                <p style="font-size:12px;line-height:16px;font-family: 'Roboto', sans-serif;">As a Leema seller you have exclusive access to a pool of buyers looking for unique and delicious food just like yours!</p>
                <p style="font-size:12px;line-height:16px;font-family: 'Roboto', sans-serif;">If you have any questions, comments, or concerns, feel free to reach out to me at any time, day or night.</p>
                <p style="font-size:12px;line-height:16px;font-family: 'Roboto', sans-serif;">
                  <%= Spree.t('supplier_mailer.welcome.manage_your_account' ) %> logging into your account <a href="https://leemaeats.com/signin" target="_blank">here</a>.
                </p>

                <p style="font-size:12px;line-height:16px;font-family: 'Roboto', sans-serif;">Happy selling,<br>Scott Levy<br><br>Co-founder<br>Leema</p>
              </td>
            </tr>
            <tr>
              <td bgcolor="#EAEAEA" align="center" style="background:#eaeaea;text-align:center">
                <center>
                  <p style="font-size:12px;margin:0;font-family: 'Roboto', sans-serif;"><%= raw Spree.t( name: Spree::Store.current.name) %></p>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
