<% title "Privacy Policy - " %>
<div class="page-cover">
	<h1 class="text-center">Leema L.L.C. Privacy Policy</h1>
</div>
<div class="container docs">
	<div class="row">
		<div class="col-xs-12">
			<p>Your privacy is our primary concern. At Leema, we work hard to earn and keep your trust, so we adhere to the following principles to protect your privacy:</p>

			<ul>
				<li>We do not rent or sell your personally identifiable information to third parties for marketing purposes.</li>
				<li>We will not share your contact information with another User without your consent.</li>
				<li>We secure any personally identifiable information that you provide with industry standard protocols and technology.</li>
				<li>We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make any material changes to this policy, we will notify you here or by means of a notice on our home page. By continuing to use the Leema service after notice of changes have been sent to you or published on the Leema website, you are consenting to the changes.</li>
			</ul>

			<p>Some important information in this Privacy Policy includes:</p>

			<ul>
				<li>The personally identifiable information of yours that is collected by Leema.</li>
				<li>How the information is used.</li>
				<li>With whom the information may be shared.</li>
				<li>How you can access and change your Account settings.</li>
				<li>What security procedures are in place to protect the loss, misuse or alteration of information collected by Leema.</li>
				<li>How to contact us.</li>
			</ul>

			<h5>Personal Information Collected:</h5>
			<p>The Leema site permits Users to voluntarily provide information about themselves for the purposes of offering, selling or purchasing goods in an online marketplace. By becoming a User, you willingly provide us certain personal information, which we collect in order to allow you to benefit from the Leema website. If you have any hesitation about providing such information to us and/or having such information displayed on the Leema website or otherwise used in any manner permitted in this Privacy Policy and the Terms of Use, you should not become a member of the Leema community.</p>

			<p>We collect your personal information in the following ways:</p>

			<ol>
				<li>
					<div id="registration">
						<h5>Registration</h5>
						<p>
							In order to become a User, you must first create an account on our website. To create an account, you are required to provide the following contact information, which you recognize and expressly acknowledge is personal information that allows others, including Leema, to identify you:
						</p>
						<ul>
							<li>Name</li>
							<li>E-mail Address</li>
							<li>Username and Password chosen by you</li>
						</ul>
					</div>
				</li>
				<li>
					<div id="profile-information">
						<h5>Profile Information</h5>
						<p>
							Buyer<br>
							Once you become a Buyer, you may provide additional information in your Profile section including your city, state, profile photograph, and a brief description about yourself.<br><br>

							Seller<br>
							To become a Seller, you first must register as a Buyer and, additionally, you must provide your full address (city, state, ZIP, country), telephone contact information, and bank account information (Note: Leema does not store any banking information - see Section X for further details).<br><br>

							Storefront<br>
							A Seller may provide additional information in his or her Storefront regarding the product(s), terms of sale, store policies, and any additional information you choose to include that complies with Leema’s <a href="/terms-of-use">Terms of Use</a>.
						</p>
						<p>Providing additional information beyond what is required at registration or to become a Buyer or Seller is entirely optional. Any information you provide at registration, in your Seller Profile, or in your Storefront that is not personally identifiable may be used in the same manner and extent to which other information that is not personally identifiable is permitted to be used hereunder. If you choose not to complete your profile you may lose the potential benefit of being a User. Leema reserves the right to remove any profiles that remain incomplete.</p>
					</div>
				</li>
				<li>
					<div id="customer-service">
						<h5>Customer Service</h5>
						<p>Leema may collect information through the Leema website or through customer service emails in order to, among other things, accurately categorize and respond to a customer’s inquiry and deliver appropriate service levels.</p>
					</div>
				</li>
				<li>
					<div id="cookies">
						<h5>Cookies</h5>
						<p>Leema uses cookies and web log files to track site usage. A cookie is a small data file which resides on your computer which allows Leema to recognize you as a User when you return to the Leema website using the same computer and web browser. Like the information you enter at registration or in your Storefront, cookie and log file data is used to customize your experience on our website.</p>

						<p>One type of cookie, known as a "persistent" cookie, is set once you’ve logged in to your Leema account. The next time you visit the Leema website, the persistent cookie will allow us to recognize you as an existing User so you will not need to log in before using the service. In order to access or change any of your private information (like a credit card number) or to send a message to another User, however, you must log in securely again with your password even if your computer contains your persistent cookie.</p>

						<p>Additionally, if you log out of the Leema website you will need to re-enter your password the next time you visit in order to log in to your account. Another type of cookie, called a "session" cookie, is used to identify a particular visit to the Leema website. Session cookies expire after a short time or when you close your web browser.</p>

						<p>We use cookies to improve the quality of our service by storing User preferences and tracking User trends. In the course of optimizing services for our Users, we may allow authorized third parties to place or recognize a unique cookie on your browser. Any information provided to third parties through such cookies will not be personally identifiable but may provide general segment information, e.g. your industry or geographic location, etc… Most browsers are initially set up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a cookie is being sent. Unfortunately, if your browser settings do not allow cookies or you opt to refuse all cookies, you may not be able to use the Leema website or services. Leema does not store personally identifiable information in the cookies.</p>
					</div>
				</li>
				<li>
					<div id="tracking">
						<h5>Tracking</h5>
						<p>Leema uses Google Analytics to gather information on User experience to better improve the functionality of the site.  Information gathered includes, but is not limited to: the URL of the site from which you came and the site to which you are going when you leave Leema, the Internet protocol (IP) address of your computer (or the proxy server you use to access the World Wide Web), your computer operating system and type of web browser you are using, as well as the name of your ISP. This information is used to analyze overall trends to help us improve the Leema service. The linkage between your IP address and your personally identifiable information is not shared with third-parties without your permission except when required by law.</p>
					</div>
				</li>
			</ol>

			<div id="consent-to-processing">
				<h5>Consent to Leema Processing Information About You</h5>
				<p>Please be aware that in providing information to Leema for the purposes of becoming a User, you are expressly and voluntarily accepting the terms and conditions of this Privacy Policy and Leema’s Terms of Use. The supplying of all such information by you to Leema, including all information deemed "sensitive" by applicable law, is entirely voluntary on your part. You have the right to withdraw your consent at any time, in accordance with the terms of this Privacy Policy and the Terms of Use, but please note that your withdrawal of consent will not be retroactive. </p>
			</div>

			<div id="rights-to-access">
				<h5>Rights to Access, Correct and Eliminate Your Information </h5>
				<p>You have a right to access, modify, correct and eliminate the data about you which has been collected pursuant to your decision to become a User. If you update any of your information, we may keep a copy of the information which you originally provided to us in our archives for uses documented herein.</p>

				<p>We take your rights seriously and encourage you to contact us if you have any questions regarding this Privacy Policy. You may exercise these rights by emailing us at <a href="mailto:legal@leemaeats.com">legal@leemaeats.com</a> or by contacting us at:<p>

				<p>
					Leema L.L.C.<br>
					Attn: Privacy Policy Issues<br>
					145 4th Avenue Apt. 15F<br>
					New York, NY 10003
				</p>
			</div>

			<div id="use-of-personal-info">
				<h5>Uses of Personal Information</h5>
				<p>Leema functions as a marketplace that allows users who comply with Leema’s policies to offer, sell and purchase goods at a specified price. The personally identifiable information you choose to provide on our website is used to help you operate within the marketplace. Other information that does not personally identify you as an individual is collected by Leema from Users (such as, for example, patterns of utilization) and is exclusively owned by Leema. This information can be utilized by Leema in such manner as Leema, in its sole discretion, deems appropriate.</p>
			</div>

			<div id="communications">
				<h5>Leema Communications</h5>
				<p>Leema will communicate with you through email and notices posted on the Leema website or through other means available through the service, including text and other forms of messaging. If we send any communications to you via the carrier service with which you have a mobile communications subscription or otherwise have access, you understand you will pay any service fees associated with any such access (including text messaging charges for messages to your mobile device). These include emails which help Users utilize the Leema site.</p>

				<p>Please be aware that you will always receive certain emails from Leema related to the proper functioning of your account, such as email notices at registration, when a User makes a purchase from your store, or when your transaction is completed. Leema may send you promotional information unless you have opted out of receiving such information.</p>

				<p>You can opt-out of receiving promotional emails by using the unsubscribe link at the bottom of each message or by sending a request to <a href="mailto:support@leemaeats.com">support@leemaeats.com</a>.</p>
			</div>

			<div id="customized-content">
				<h5>Customized Content</h5>
				<p>Information provided to Leema (or to third parties with whom it offers combined services) is also used to customize your experience on our website. For example, when you login to your account we will display newly posted items from vendors you have used in the past.</p>
			</div>

			<div id="sharing-information">
				<h5>Sharing Information</h5>
				<p>Leema takes the privacy of Users very seriously. We do not sell, rent, or otherwise provide your personally identifiable information to third parties for marketing purposes. We will only share your personally identifiable information with parties that are members of Leema to carry out your instructions or to provide specific services or information. For instance, we use a credit card processing company (Stripe) to facilitate your transactions. Leema uses third party payment processors to assist it in processing your personally identifiable payment information securely. Such third party processors’ use of your personal information is governed by their respective privacy policies which may or may not contain privacy protections as protective as this privacy policy. Payments are currently processed and managed using Stripe (<a href="https://stripe.com/us/privacy" target="_blank">Privacy Policy</a>).</p>

				<p>We cannot ensure that all of your private communications and other personal information will never be disclosed in ways not otherwise described in this Privacy Policy.</p>

				<p>For example, third parties may unlawfully intercept personal data or access our servers and obtain personal data. Therefore, we do not promise, nor you should not expect, that your personal information would always remain private.</p>

				<p>We may provide aggregated anonymous data about the usage of our services to third parties for such purposes as we deem, in our sole discretion, to be appropriate, including to prospective advertisers on Leema. </p>
			</div>

			<div id="partners">
				<h5>Teaming with Partners to Offer Combined and Other Services</h5>
				<p>Leema may offer our services in connection with other websites (including updates about the Leema service) or may team with other online services ("Partners") to give you the combined results of both services or additional services and benefits.</p>

				<p>In the case of Partners, we only work with trusted Partners. Because of Leema’s trust in these Partners, services designed by a Partner may be automatically granted permission to access account information to provide the combined services.</p>

				<p>You are encouraged to review any Partners' respective privacy policies and terms of use, which have not necessarily been reviewed or approved by Leema. In these cases, it will be your choice whether or not to make use of the services and whether to proceed under the Partner’s terms. Leema has no liability for the privacy policy of such Partners or enforcement of such policies.</p>

				<p>Partners are required to agree to restrictions on access, storage and usage of your information as a condition to becoming our Partner. However, while we typically enter into contractual agreements and take technical steps to restrict possible misuse of such information by such Partners, we may not screen or approve each and every Partner, and we cannot and do not guarantee that all Partners will abide by such restrictions and agreements.</p>

				<p>If you have any issues, questions, or concerns about our Partners please contact <a href="mailto:support@leemaeats.com">support@leemaeats.com</a>.</p>
			</div>

			<div id="surveys-and-polls">
				<h5>Surveys and Polls</h5>
				<p>As a User, you might receive requests from Leema to participate in market research including polls and surveys. If you participate in surveys and polls offered through our website, the information you provide may be visible to others using the Leema website. You may opt-out of receiving these inquiries and requests.</p>
			</div>

			<div id="reviews-and-blogs">
				<h5>Reviews and Blogs</h5>
				<p>If you post on the Storefront section of your Leema account, post a review of a product, or contribute to the Leema blog, be aware that any personally identifiable information you choose to provide there can be read, collected, or used by other Users of these forums, and other third parties, and could be used to send you unsolicited messages. Leema is not responsible for the personally identifiable information you choose to submit in these forums.</p>
			</div>

			<div id="testimonials">
				<h5>Testimonials</h5>
				<p>If you provide any testimonials about the Leema service, including but not limited to communications with leemaeats.com email address, we may post those testimonials to third parties. Such testimonials may include your name and other personal information that you have provided.</p>
			</div>

			<div id="communication-with-others">
				<h5>Communications to other Users</h5>
				<p>Once a Buyer makes a purchase from a Seller’s store, Buyer’s email address and phone number will be made available to the Seller.</p>
			</div>

			<div id="legal-disclaimer">
				<h5>Legal Disclaimer</h5>
				<p>It is possible that Leema may need to disclose personal information when required by law, such as responses to civil or criminal subpoenas, or other requests by law enforcement personnel. We will disclose such information in those instances in which  we have a good-faith belief that it is necessary to comply with a court order, ongoing judicial proceeding, subpoena, or other legal process or request to Leema brought in any country throughout the world, or to exercise our legal rights or defend against legal claims.</p>
			</div>

			<div id="disclosures-to-others">
				<h5>Disclosures to Others</h5>
				<p>We may also disclose the personal and other information you provide to another third party as part of a reorganization or a sale of the assets of  Leema or any of its affiliates. Any third party to which we transfer or sell Leema’s assets will have the right to continue to use the personal and other information that you provide to us.</p>
			</div>

			<div id="your-information-choices">
				<h5>Your Information Choices</h5>
				<p>You can review the personal information you provided us and make any desired changes to the information you publish, or to the settings for your Leema account including your email, and contact preferences, at any time by logging in to your account on the Leema website. Please be aware that even after your request for a change is processed, Leema may, for a time, retain residual information about you in its backup and/or archival copies of its database.</p>
			</div>

			<div id="closing-your-account">
				<h5>Closing Your Account</h5>
				<p>You can also close your account through the Leema website. If you close your Leema account, we will remove your name and other personally identifiable information from our database. We may retain certain data contributed by you if we believe it may be necessary to prevent fraud or future abuse, or for legitimate business purposes, such as analysis of aggregated, non-personally identifiable data, account recovery, or if required by law. To request that we close your account and remove your information from the Leema website, please send your request to <a href="mailto:support@leemaeats.com">support@leemaeats.com</a>. Please send your request using an email account that you have registered with Leema under your name. You will receive a response as soon as possible.</p>
			</div>

			<div id="your-obligations">
				<h5>Your Obligations</h5>
				<p>As a User, you have certain obligations toward the other Users with whom you will be communicating. Certain of these obligations are imposed by applicable law and regulations, and others have become commonplace in user-friendly communities of like-minded members, such as Leema. Such obligations include the following (i) you will at all times, respect the terms and conditions of the then-current Privacy Policy and the Terms of Use including without limitation, respecting all intellectual property rights which may belong to third parties (such as photographs) (ii) you will not download or otherwise disseminate any information which may be deemed to be injurious, violent, offensive, racist or xenophobic or which may otherwise violate the purpose and spirit of Leema and its community of Users, (iii) You will not provide information to Leema and/or other Users which you believe might be injurious or detrimental to your person, or professional or social status.</p>

				<p>Any violation of these guidelines may lead to the restriction, suspension or termination of your account by Leema, as we take these principles seriously and consider them to be the basis on which our Users adhere to the Leema website and the services which it offers.</p>
			</div>

			<div id="important-information">
				<h5>Important Information</h5>
				<p><strong>Children</strong><br>
					Minors (persons under the age of 18) are not eligible to use our service.
				</p>
				<p>Leema is not directed to children under 13 years of age and we do not knowingly collect personally identifiable information from children under 13. If we become aware that a child under 13 has provided us with personally identifiable information, we will delete such information from our files.</p>
			</div>

			<div id="changes-to-privacy-policy">
				<h5>Changes to This Privacy Policy</h5>
				<p>Leema may update this privacy policy at any time, with or without advance notice. In the event there are significant changes in the way we treat your personally identifiable information, we will display a notice on the Leema website or send you an email, as provided for above. Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account.</p>

				<p>If you use the Leema service after notice of changes have been sent to you or published on our site, such use shall constitute your  consent to be bound by and to follow such  changed practices.</p>
			</div>

			<div id="security">
				<h5>Security</h5>
				<p>In order to secure your personal information, access to your data on Leema is password-protected, and sensitive data is protected by SSL encryption when it is exchanged between your web browser and the Leema web site. Leema uses a third party service (Heroku) to host the site and its data. Heroku’s use of your personal information is governed by its <a href="https://www.heroku.com/policy/privacy" target="_blank">privacy policy</a> which may or may not contain privacy protections as protective as this privacy policy. It is your responsibility to protect the security of your login information. Please note that emails or other means of communication with other Users of Leema are not encrypted and we strongly request you not to communicate any confidential information through these means.</p>
			</div>

			<div id="contact">
				<h5>How to Contact Us</h5>
				<p>If you have questions or comments about this Privacy Policy, please email us at <a href="mailto:support@leemaeats.com">support@leemaeats.com</a> or contact us at:</p>
				<p>
					Leema, L.L.C.<br>
					Attn: Privacy Policy Issues<br>
					145 4th Avenue Apt. 15F<br>
					New York, NY 10003
				</p>
			</div>
		</div>
	</div>
</div>
