<% title "Terms of Use - " %>
	<div class="page-cover">
		<h1 class="text-center">Leema L.L.C. Terms of Use</h1>
	</div>

<div class="container docs">
	<div class="row">
		<div class="col-md-3">
			<nav class="hidden-xs hidden-sm affix leema-side-bar" data-spy="affix" data-offset-top="320" data-offset-bottom="500">
				<ol class="nav leema-side-nav" style="margin-top:0px;">
					<li><a href="#what-is-leema">What is Leema?</a></li>
					<li><a href="#accounts">Accounts</a></li>
					<li><a href="#fees-and-billing">Fees and Billing</a></li>
					<li><a href="#listing-and-selling">Listing and Selling on Leema</a></li>
					<li><a href="#prohibited-conduct-and-breach">Prohibited Conduct and Breach</a></li>
					<li><a href="#content">Content</a></li>
					<li><a href="#dispute-resolution">Dispute Resolution</a></li>
					<li><a href="#intellectual-property">Leema's Intellectual Property</a></li>
					<li><a href="#copyright-policy">Copyright Policy</a></li>
					<li><a href="#links-to-other-websites">Links to Other Websites</a></li>
					<li><a href="#communications-and-promotions">Communications and Promotions</a></li>
					<li><a href="#privacy">Privacy</a></li>
					<li><a href="#disclaimer-of-warranties">Disclaimer of Warranties</a></li>
					<li><a href="#limitation-of-liability">Limitation of Liability</a></li>
					<li><a href="#indemnification">Indemnification</a></li>
					<li><a href="#no-guarantee">No Guarantee</a></li>
					<li><a href="#legal-compliance">Legal Compliance</a></li>
					<li><a href="#servability-invalidity-of-agreement">Servability/Invalidity of Agreement</a></li>
					<li><a href="#agency">Agency</a></li>
					<li><a href="#modification-or-termination-of-service">Modification or Termination of Service</a></li>
					<li><a href="#choice-of-law">Choice of Law</a></li>
					<li><a href="#survival">Survival</a></li>
					<li><a href="#notices">Notices</a></li>
					<li><a href="#disclosures">Disclosures</a></li>
				</ol>
			</nav>
		</div><!-- close col-sm-3 -->
		<div class="col-md-9">
			<p>PLEASE READ THE TERMS OF USE ("AGREEMENT" OR "TERMS OF USE") CAREFULLY BEFORE USING THIS WEBSITE OR RELATED SERVICES OFFERED BY LEEMA L.L.C. ("LEEMA" or "COMPANY").</p>

			<p>Leema provides the leemaeats.com site and various related services (together referred to as the "Service" or "Site") subject to your compliance with all the terms, conditions, and notices contained or referenced herein, as well as any other written agreement between us (or your company). In addition, when using particular services or materials on this site, users shall be subject to any posted guidelines or rules applicable to such services or materials that may contain terms and conditions in addition to those in this Agreement. All such guidelines or rules are hereby incorporated by reference into the Agreement.</p>

			<p>BY COMPLETING THE REGISTRATION PROCESS AND/OR USING THIS SERVICE IN ANY MANNER, INCLUDING BUT NOT LIMITED TO VISITING OR BROWSING THE SITE, YOU AGREE TO BE BOUND BY THIS AGREEMENT. IF YOU DO NOT WISH TO BE BOUND BY THE THESE TERMS OF USE, PLEASE EXIT THE SITE NOW. YOUR AGREEMENT WITH US REGARDING COMPLIANCE WITH THESE TERMS OF USE BECOMES EFFECTIVE IMMEDIATELY UPON COMMENCEMENT OF YOUR USE OF THIS SITE.</p>

			<p>These Terms of Use are effective as of March 20th, 2015. Leema reserves the right to change the Terms of Use. You acknowledge and agree that it is your responsibility to review this site and these Terms of Use periodically and to be aware of any modifications. Your continued use of this site after such modifications will constitute your acknowledgement of the modified Terms of Use and agreement to abide and be bound by the modified Terms of Use.</p>

			<p>As used in these Terms of Use, references to our "Affiliates" include our owners, subsidiaries, affiliated companies, officers, directors, suppliers, partners, sponsors, and advertisers, and includes (without limitation) all parties involved in creating, producing, and/or delivering this Site and/or its contents.</p>

			<ol>
				<li id="what-is-leema">
					<strong>What is Leema?</strong><br>
					<p>Leema functions as a marketplace that allows users who comply with Leema’s policies to offer, sell and purchase certain goods at a specified price. Leema is a third-party not directly involved in the transaction between buyers and sellers. Leema does not transfer legal ownership of items from the seller to the buyer. Thus, Leema has no control over the quality, safety, or legality of any aspect of the items listed. Additionally, Leema does not transmit any funds and is not a money-services business. To the extent such functionality is made available in the services, it is provided by an unaffiliated third party, and like any other third-party service, subject to their Terms of Use. Leema assumes no responsibility for the timeliness or mis-delivery of any purchased items, or the truth or accuracy of the listings. Leema does not pre-screen users or the content or information they provide. Leema cannot guarantee the true identity or age of a user, so users are encouraged to communicate directly with potential transaction partners via the methods provided through the Service.</p>
				</li>
				<li id="accounts">
					<strong>Accounts</strong><br>
					<p>When you create an account with Leema, you guarantee that you are eighteen (18) years of age or above, and that the information you provide is accurate, complete, and current at all times. You agree to keep your account information up-to-date and accurate at all times, including a valid email address and valid payment information. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the Service.</p>

					<p>You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You also agree that Leema cannot and will not be liable for any loss or damage arising from your failure to keep your password secure. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

					<p>You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization. You may not use as a username any name that is offensive, vulgar or obscene.</p>

					<p>We reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in our sole discretion.</p>
				</li>
				<li id="fees-and-billing">
					<strong>Fees and Billing</strong><br>
					<p>Signing up for the Service and becoming a seller at Leema is free. Leema automatically charges the seller ten-percent (10%) of the sale price for every item, which is automatically taken from the purchase price when the sale is completed. Leema’s seller fees are subject to change. In the event of a change in seller fees, Leema will provide users with at least fifteen (15) days’ notice before the change becomes effective by posting the change on the Site. In certain situations, including but not limited to a void or invalid transaction, Leema may issue a credit for the applicable fees to a seller's account.</p>
				</li>
				<li id="listing-and-selling">
					<strong>Listing and Selling on Leema</strong><br>
					<p>All products listed on Leema must be for sale. By listing a product on the Site you warrant that you may legally sell the item, and that your listing and all aspects of the product comply with all of Leema’s published policies. You guarantee that any product listed and all the terms of sale are described accurately in your Leema store. Listings may only include text descriptions, pictures, graphics and other content relevant to the sale of the item. Every listing must accurately and completely describe the item/items for sale.  Sellers may not post, list or upload content or items in inappropriate categories or areas on the Site. If a seller has multiple identical items in stock, all items in that listing must be identical. Every unique item must have its own listing.</p>

					<p>Sellers may not alter the product's price after a sale for the purpose of avoiding Leema’s transaction fees, misrepresent the item's location, or use another user's account without permission. The price stated in each item listing description must be an accurate representation of the sale. Sellers may charge reasonable, and not excessive, shipping and handling fees to cover the costs for packaging and mailing the products.</p>

					<p>All sales are binding. Sellers are obligated to ship the order or otherwise complete the transaction with the buyer in a prompt manner and the buyer is obligated to deliver appropriate payment for items purchased.</p>

					<p>We urge all sellers to provide store policies for their Leema store. Suggested policies include shipping, returns, and selling policies. Sellers must create reasonable policies in good faith and must abide by such policies. All store policies must comply with all of Leema’s published policies. Sellers are responsible for enforcing their own reasonable shop policies. Leema reserves the right to request that a seller modify their store policy.</p>

					<p>Upon the completion of each sale, Leema will transfer 90% of the purchase price of the item(s) sold directly into seller's bank account of record as soon as the shipping carrier (USPS) scans the shipping label generated by Leema, indicating that it has been picked-up or received for shipment.</p>
				</li>
				<li id="prohibited-conduct-and-breach">
					<strong>Prohibited Conduct and Breach</strong><br>
					<p>You are solely responsible for your conduct and activities regarding your use of Leema’s Services, including but not limited to, any and all data, information, text, graphics, images, and links that you submit, post, and display on the Site.</p>

					<p>By accessing our Service you agree that your content and your use of the Site will not:</p>
					<ol>
						<li>Violate or circumvent any laws, third party rights or our systems, policies, or determinations of your account status;</li>
						<li>Include false, inaccurate, misleading, defamatory, or libelous content;</li>
						<li>Take any action that may undermine the feedback or online reviews systems;</li>
						<li>Cause interference with a seller’s store or business;</li>
						<li>Be obscene or contain child pornography;</li>
						<li>Be unlawfully threatening, unlawfully harassing, impersonate or intimidate any person (including Leema staff or other users), or falsely state or otherwise misrepresent your affiliation with any person, through for example, the use of similar email address, nicknames, or creation of false account(s) or any other method or device;</li>
						<li>Distribute or post spam, unsolicited or bulk electronic communications, chain letters, or pyramid schemes;</li>
						<li>Transmit viruses, code or any other technology that may damage or detrimentally interfere with Leema, or the interests or property of users;</li>
						<li>List products that have been identified by the U.S. Consumer Products Safety Commission (CPSC) as hazardous to consumers and therefore subject to a recall;</li>
						<li>Create or modify any website so as to falsely imply that is it associated with Leema;</li>
						<li>Link directly or indirectly, reference or contain descriptions of goods or services that are prohibited under this Agreement, Leema Guidelines, the <a href="/privacy-policy/">Privacy Policy</a>, or other policy documents posted on Leema;</li>
						<li>Use any robot, spider, scraper or other automated means to access our Services for any purpose;</li>
						<li>Interfere with the operation of our Services, or impose an unreasonable or disproportionately large load on our infrastructure;</li>
						<li>Export or re-export any Leema application or tool except in compliance with the export control laws of any relevant jurisdictions and in accordance with posted rules and restrictions;</li>
						<li>Reproduce, perform, display, distribute, reverse engineer, or prepare derivative works from content that belongs to or is licensed to Leema, or that comes from the Services and belongs to another Leema user or to a third party including works covered by any copyrights, trademark, patent, or other intellectual property right, except with prior express permission of Leema and/or any other party holding the right to license such use;</li>
						<li>Commercialize any Leema application or any information or software associated with such application;</li>
						<li>Gather or otherwise collect information about users without their consent;</li>
						<li>Elude any technical measures we use to provide the Services.</li>
					</ol>

					<p>Without limiting any other remedies, Leema reserves the right to limit, suspend, or terminate your user account and access to our Services without notice, and without refunding any fees, delay or remove hosted content, remove any special status associated with your account, reduce or eliminate any discounts, and take technical and/or legal steps to prevent you from using our Services if we believe or discover that you are abusing Leema in any of the ways mentioned above or otherwise.</p>
				</li>
				<li id="content">
					<strong>Content</strong><br>
					<p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the Content that you post on or through the Service, including its legality, reliability, and appropriateness. By posting Content on or through the Service, you represent and warrant that: (i) you own the Content and/or you have the right to use it and the right to grant us the rights and license as provided in this Agreement, and (ii) that the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. Leema has the right but not the obligation to monitor and edit all Content provided by users. We reserve the right to terminate the account of anyone found to be infringing on a copyright or in violation of these Terms of Use.</p>

					<p>You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. We take no responsibility and assume no liability for Content you or any third party posts on or through the Service. However, by posting Content using the Service you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to this Agreement.</p>

					<p>Any Content that is not posted or owned by you that is found on or through this Service is the property of Leema or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>

					<p>As part of a transaction, you may obtain personal information, including email addresses and shipping information, from another Leema user. Without obtaining prior permission from the other user, this personal information shall only be used for that transaction or for Leema-related communications. Leema has not granted you a license to use the information for unsolicited commercial messages or unauthorized transactions. Please see our <a href="/privacy-policy">Privacy Policy</a> for how Leema uses and protects your personal information.</p>

					<p>Leema does not control the Content provided by users that is posted on the Site. There may be Content that you consider to be offensive, harmful, inaccurate, or deceptive. There are also risks of dealing with underage persons or people acting under false pretense. By using the Service, you agree to accept such risks and that Leema and our Affiliates are not responsible for any and all acts or omissions of users on the Site.</p>
				</li>
				<li id="dispute-resolution">
					<strong>Dispute Resolution</strong><br>
					<p>In the event that a dispute arises between you and Leema, please contact our legal department at <a href="mailto:legal@leemaeats.com">legal@leemaeats.com</a>. Any dispute arising from or relating to the subject matter of this Agreement shall be finally settled by arbitration in New York County, New York, using the English language in accordance with the Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. ("JAMS") then in effect, by one commercial arbitrator, who shall be selected from the appropriate list of JAMS arbitrators in accordance with the Arbitration Rules and Procedures of JAMS. The prevailing party in any arbitration or other proceeding arising under this Agreement shall be entitled to receive reimbursement of its reasonable expenses, including reasonable attorneys' fees, expert witness fees and all other expenses incurred in connection therewith. Judgment upon the written award rendered by the arbitrator may be entered in a court having jurisdiction or application may be made to such court for judicial acceptance of any award and an order of enforcement, as the case may be. Notwithstanding the foregoing, each party shall have the right to institute an action in a court of proper jurisdiction for injunctive or other equitable relief pending a final decision by the arbitrator. For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue in the United States Federal Courts or state courts located in the Southern District of New York. Use of the Services is not authorized in any jurisdiction that does not give effect to all provisions of the Agreement, including without limitation, this section. You and Leema agree that any cause of action arising out of or related to the Services or this Agreement must commence within one (1) year after the cause of action arose; otherwise, such cause of action is permanently barred.</p>

					<p>You release Leema and our Affiliates from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with disputes with one or more users, or an outside party.</p>
				</li>
				<li id="intellectual-property">
					<strong>Leema's Intellectual Property</strong><br>
					<p>The Service and its original content (excluding Content provided by users), features and functionality are and will remain the exclusive property of Leema and its Affiliates. The Service is protected by copyright, trademark, and other laws of both the United States and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Leema.</p>
				</li>
				<li id="copyright-policy">
					<strong>Copyright Policy</strong><br>
					<p>We respect the intellectual property rights of others. If you are a copyright owner, or authorized on behalf of one, and you believe that the copyrighted work has been copied in a way that constitutes copyright infringement, please submit your claim via email to <a href="mailto:legal@leeameats.com">legal@leeameats.com</a>, with the subject line: "Copyright Infringement" and include in your claim a detailed description of the alleged Infringement as detailed below.</p>

					<p>You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):</p>

					<ul>
						<li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright's interest;</li>
						<li>a description of the copyrighted work that you claim has been infringed, including the URL (i.e., web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;</li>
						<li>identification of the URL or other specific location on the Service where the material that you claim is infringing is located;</li>
						<li>your address, telephone number, and email address;</li>
						<li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
						<li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
					</ul>

					<p>You can contact our Copyright Agent via email at <a href="mailto:legal@leema.com">legal@leema.com</a></p>
				</li>
				<li id="links-to-other-websites">
					<strong>Links to Other Websites</strong><br>
					<p>Our Service may contain links to third party web sites or services that are not owned or controlled by Leema. Leema has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.</p>

					<p>You acknowledge and agree that Leema shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services. We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services that you visit.</p>
				</li>
				<li id="communications-and-promotions">
					<strong>Communications and Promotions</strong><br>

					<p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send. Any contests, sweepstakes or other promotions (collectively, "Promotions") made available through the Service may be governed by rules that are separate from this Agreement. If you participate in any Promotions, please review the applicable rules as well as our Privacy Policy. If the rules for a Promotion conflict with this Agreement, the Promotion rules will apply.</p>
				</li>
				<li id="privacy">
					<strong>Privacy</strong><br>

					<p>Except as provided in Leema’s Privacy Policy, Leema will not sell, disclose, or distribute your personal information to third parties without your explicit consent.</p>
				</li>
				<li id="disclaimer-of-warranties">
					<strong>Disclaimer of Warranties</strong><br>

					<p>THE SERVICES ON THIS SITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THE WARRANTY OF NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY THAT: (A) THE SERVICES AND MATERIALS WILL MEET YOUR REQUIREMENTS, (B) THE SERVICES AND MATERIALS WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (C) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES OR MATERIALS WILL BE EFFECTIVE, ACCURATE OR RELIABLE, OR (D) THE QUALITY OF ANY PRODUCTS, SERVICES, OR INFORMATION PURCHASED OR OBTAINED BY YOU THROUGH THE SITE WILL MEET YOUR EXPECTATIONS OR BE FREE FROM MISTAKES, ERRORS OR DEFECTS.</p>

					<p>THE USE OF THE SERVICES OR THE DOWNLOADING OR OTHER ACQUISITION OF ANY MATERIALS THROUGH THIS SITE IS DONE AT YOUR OWN DISCRETION AND RISK AND WITH YOUR AGREEMENT THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM SUCH ACTIVITIES.</p>

					<p>Through your use of the site, you will have the opportunities to engage in commercial transactions with other users and vendors. You acknowledge that all transactions relating to any merchandise or services offered by any party, including, but not limited to the purchase terms, payment terms, warranties, guarantees, maintenance and delivery terms relating to such transactions, are agreed to solely between the seller or purchaser of such merchandise and services and you. WE MAKE NO WARRANTY REGARDING ANY TRANSACTIONS EXECUTED THROUGH, OR IN CONNECTION WITH THIS SITE, AND YOU UNDERSTAND AND AGREE THAT SUCH TRANSACTIONS ARE CONDUCTED ENTIRELY AT YOUR OWN RISK. ANY WARRANTY THAT IS PROVIDED IN CONNECTION WITH ANY PRODUCTS, SERVICES, MATERIALS, OR INFORMATION AVAILABLE ON OR THROUGH THIS SITE FROM A THIRD PARTY IS PROVIDED SOLELY BY SUCH THIRD PARTY, AND NOT BY LEEMA OR ANY OTHER OF OUR AFFILIATES.</p>

					<p>Content available through this site often represents the opinions and judgments of an information provider, site user, or other person or entity not connected with Leema. We do not endorse, nor are we responsible for the accuracy or reliability of, any opinion, advice, or statement made by anyone other than an authorized Company spokesperson speaking in his/her official capacity. </p>

					<p>SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
				</li>
				<li id="limitation-of-liability">
					<strong>Limitation of Liability</strong><br>
					<p>Your exclusive remedy and Leema’s entire liability, if any, for any claims arising out of these Terms of Use and your use of this site shall be limited to the amount you paid for the Services on the Site during the twelve (12) month period before the act giving rise to the liability.</p>

					<p>IN NO EVENT SHALL LEEMA OR OUR AFFILIATES BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL, PUNITIVE, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER, INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OF THIS SITE OR OF ANY WEB SITE REFERENCED OR LINKED TO FROM THIS SITE.</p>

					<p>FURTHER, LEEMA SHALL NOT BE LIABLE IN ANY WAY FOR THIRD PARTY GOODS AND SERVICES OFFERED THROUGH THIS SITE OR FOR ASSISTANCE IN CONDUCTING COMMERCIAL TRANSACTIONS THROUGH THIS SITE, INCLUDING WITHOUT LIMITATION THE PROCESSING OF ORDERS.</p>

					<p>SOME JURISDICTIONS PROHIBIT THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
				</li>
				<li id="indemnification">
					<strong>Indemnification</strong><br>
					<p>You agree to defend, indemnify, and hold Leema and our Affiliates harmless from all liabilities, claims, and expenses, including attorney's fees, that arise from your use or misuse of this site. Leema reserves the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.</p>
				</li>
				<li id="no-guarantee">
					<strong>No Guarantee</strong><br>
					<p>Leema does not guarantee continuous, uninterrupted access to the Site, and operation of the Site may be interfered with by numerous factors outside Leema’s control.</p>
				</li>
				<li id="legal-compliance">
					<strong>Legal Compliance</strong><br>
					<p>Users must comply with all applicable domestic and international laws, statutes, ordinances and regulations regarding use of the Leema Services.</p>
					<p>Users are cautioned to review the cottage food (homemade food sales) laws in their respective states to ensure compliance with local regulations.</p>
				</li>
				<li id="servability-invalidity-of-agreement">
					<strong>Servability/Invalidity of Agreement</strong><br>
					<p>If any provision of this Agreement shall be finally determined to be invalid, then only that provision shall be stricken from this Agreement and in all other respects this Agreement shall be valid and shall continue in full force and effect.  The failure of any party to meet her or his obligations under any provision of this Agreement, with the exception of the satisfaction of the conditions precedent, shall in no way void or alter the remaining obligations of the parties.</p>
				</li>
				<li id="agency">
					<strong>Agency</strong><br>
					<p>Leema and Service users are independent contractors.  This Agreement does not create any agency, partnership, or employee-employer relationship.</p>
				</li>
				<li id="modification-or-termination-of-service">
					<strong>Modification or Termination of Service</strong><br>
					<p>Leema reserves the right to terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation modify or terminate the Service for any reason and without notice. If you wish to terminate your account, you may simply discontinue using the Service. Leema reserves the right to alter this Agreement or other Site policies at any time. In the case of any material change to the Service or Agreement, Leema will provide notice via email, a post to the Site, or other other place Leema deems appropriate. What constitutes a "material change" will be determined at Leema’s sole discretion, in good faith.  [While Leema will provide notice for all material changes, and for changes in seller fees as detailed in Section 3, Leema is not obligated to notify users of changes deemed immaterial, and continued use of the Site and Service will constitute consent to those changes as stated above.]</p>
				</li>
				<li id="choice-of-law">
					<strong>Choice of Law</strong><br>
					<p>This Agreement shall in all respects be interpreted and construed with and by the laws of the State of New York, excluding its conflicts of laws rules, and the United States of America.</p>
				</li>
				<li id="survival">
					<strong>Survival</strong><br>
					<p>Sections 3 (Fees and Billing), 5 (Prohibited Conduct & Breach), 6 (Content), 7 (Dispute Resolution), 8 (Leema’s Intellectual Property), 9 (Copyright Policy), 12 (Privacy), 13 (Disclaimer of Warranties), 14 (Limitation of Liability), 15 (Indemnification), 16 (No Guaranty), 18 (Severability), 19 (Agency), 20 (Modification or Termination of Service), 21 (Choice of Law) shall survive any termination or expiration of this Agreement.</p>
				</li>
				<li id="notices">
					<strong>Notices</strong><br>
					<p>All notices to a party shall be in writing and shall be made either via email or conventional mail. Notices to Leema must be sent to the attention of Legal Department at legal@leemaeats.com, if by email, or at Leema L.L.C., 145 4th Ave., New York, New York 10003, if by conventional mail. Notices to you may be sent either to the email address supplied for your account or to the address supplied by you as part of your registration data. In addition, Leema might broadcast notices or messages through the Site to inform you of changes to the site or other matters of importance, and such broadcasts shall constitute notice to you.</p>

					<p>Any notices or communication under this Agreement will be deemed delivered to the party receiving such communication (1) on the delivery date if delivered personally to the party; (2) two business days after deposit with a commercial overnight carrier, with written verification of receipt; (3) five business days after the mailing date, if sent by US mail, return receipt requested; (4) on the delivery date if transmitted by confirmed facsimile; or (5) on the delivery date if transmitted by confirmed email.</p>

					<p>For issues with intellectual property, please provide the notice as specified in Section 9 (Copyright Policy) of this Agreement.</p>
				</li>
				<li id="disclosures">
					<strong>Disclosures</strong><br>
					<p>The Service hereunder is offered by Leema L.L.C., located at 145 4th Avenue., New York, New York 10003. If you are a New York resident, you may have this same information emailed to you by sending a letter to the foregoing address with your email address and a request for this information.</p>
				</li>
			</ol>

			<p>Effective Date: March 22, 2015<br>
				Updated: May 13, 2015</p>
		</div><!-- close .col-sm-9 -->
	</div><!-- close .row -->
</div>
