$(document).ready(function(){
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };

  var products = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    // url points to a json file that contains an array of country names, see
    // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
    prefetch: 'https://leemaeats-dev.com/productnames.json'
  });
  var sellers = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    // url points to a json file that contains an array of country names, see
    // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
    prefetch: 'https://leemaeats-dev.com/suppliernames.json'
  });

  $('.navbar-form #search').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'products',
    source: products,
    templates: {
      header: '<h4 class="product-names">Products</h3>'
    }
  },
  {
    name: 'sellers',
    source: sellers,
    templates: {
      header: '<h4 class="seller-names">Stores</h3>'
    }
  });
});



