<div class="page-cover">
	<h1 class="text-center">Frequently Asked Questions</h1>
</div>

<div class="container docs">
	<div class="row">
		<div class="col-md-3">
			<nav class="hidden-xs hidden-sm affix leema-side-bar" data-spy="affix" data-offset-top="320" data-offset-bottom="200">
				<ul class="nav leema-side-nav">
					<li><a href="#leema-faq">Leema FAQ</a></li>
					<li><a href="#selling-faq">Selling FAQ</a></li>
					<li><a href="#payment-faq">Payment FAQ</a></li>
				</ul>
			</nav>
		</div><!-- close .col-sm-3 -->
		<div class="col-md-9">
			<div id="leema-faq">
				<div class="page-header">
					<h3>Leema FAQ</h3>
				</div>

				<div class="question-answer">
					<p class="lead">What is Leema anyway?</p>
					<p>Leema is an online marketplace that allows Culinary Artisans to sell the unique and delicious food products they put their heart and soul into creating to buyers with great taste.</p>
				</div>

				<div class="question-answer">
					<p class="lead">What am I doing here?</p>
					<p>You are here because you have a passion for food just like us!</p>
				</div>

				<div class="question-answer">
					<p class="lead">What does Leema mean?</p>
					<p>Leema stands for Let Everyone Eat My Art.</p>
				</div>

				<div class="question-answer">
					<p class="lead">Who started Leema?</p>
					<p>Leema was started by a hipster, a nerd, and a fat kid at heart. We wanted to make it easier for Culinary Artists to spread the love with their artistic food creations.</p>
				</div>

				<div class="question-answer">
					<p class="lead">How do I join the Leema community?</p>
					<p>To join the Leema community, create a free account by clicking “Register” on our homepage.</p>
				</div>

			</div>

			<div id="selling-faq">
				<div class="page-header">
					<h3>Selling FAQ</h3>
				</div>

				<div class="question-answer">
					<p class="lead">How can I become a seller on Leema?</p>
					<p>If you create unique and delicious food products and have a bank account for all the cash you’ll be receiving, click <a href="/sell">Sell</a> to become a seller on Leema. Within a few minutes your storefront will be open for business!</p>
				</div>

				<div class="question-answer">
					<p class="lead">What can I sell on Leema?</p>
					<p>Leema is a marketplace for you to sell your unique and delicious food products. We require you sell products that are produced by you and are of the highest quality. There are some items that are prohibited, which you can find in our <a href="/guidelines">Guidelines</a></p>
				</div>

				<div class="question-answer">
					<p class="lead">How much does Leema cost?</p>
					<p>Leema is free to sign up! We charge a small percentage fee (10%) of each transaction. We cover the 2.9% + $0.30 processing fee charged per transaction by our third party payment provider, <a href="http://stripe.com" target="_blank">Stripe</a>.</p>
				</div>

				<div class="question-answer">
					<p class="lead">Show me the money! But seriously, how do I get my money?</p>
					<p>You will receive the money in your bank account within 2 business days of when an order was placed.</p>
				</div>

				<div class="question-answer">
					<p class="lead">Who is responsible for shipping?</p>
					<p>You (the seller) are responsible for shipping all the orders that you receive. Once an order is placed we provide you with the shipping labels which you can print and place on your package. We also provide a tracking number. Once your package is read to ship, just drop it off at the corresponding shipping location.</p>
				</div>

			</div>


			<div id="payment-faq">
				<div class="page-header">
					<h3>Payment FAQ</h3>
				</div>

				<div class="question-answer">
					<p class="lead">How do I pay for products I purchase on Leema?</p>
					<p>We accept all major credit cards, including Visa, MasterCard, American Express, and Discover cards.</p>
				</div>

				<div class="question-answer">
					<p class="lead">Do you store my credit card information?</p>
					<p>Leema stores your name, the last 4 digits of your card number, and the expiration date. We process all payments securely through Stripe, a fully PCI compliant service provider (meaning they store, process, and transmit your information securely).</p>
				</div>

				<div class="question-answer">
					<p class="lead">When I purchase a product, what information does the seller receive?</p>
					<p>Your privacy is important to us. Sellers receive your name, email address, phone number, and mailing address in order to fulfill your purchase.</p>
				</div>

				<div class="question-answer">
					<p class="lead">Can I get a refund or return for any products I purchase?</p>
					<p>Unfortunately we do not allow returns or refunds for any purchases since all transactions occur between buyers and sellers; however, our Support Team (<a href="mailto:support@leemaeats.com">support@leemaeats.com</a>) will help resolve any incidents that may occur.</p>
				</div>

			</div>
		</div><!-- close .col-sm-9 -->
	</div><!-- close .row -->
</div><!-- close .container -->
