<div class="container" id="faq">
	<div class="page-header">
		<h1>Frequently Asked Questions</h1>
	</div>

	<h3>Seller FAQ's</h3>

	<div class="panel-group" id="accordion-faq-seller" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion-faq-seller" href="#one" aria-expanded="true" aria-controls="one">
	          What do I need to open a store?
	        </a>
	      </h4>
	    </div>
	    <div id="one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	        <p>A pulse, delicious homemade food items, and a bank account to transfer all that cash into. That’s it.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-faq-seller" href="#two" aria-expanded="false" aria-controls="two">
	          I have an old shoe; can I sell it on Leema?
	        </a>
	      </h4>
	    </div>
	    <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	        <p>No. However if you put that old shoe down and whip up some delicious homemade cookies, you can sell those! From Grandma’s famous oatmeal raisin cookies from California to hand bottled maple syrup from Vermont, if it’s food created with heart, soul, and passion, it can be sold on Leema.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-faq-seller" href="#three" aria-expanded="false" aria-controls="three">
	          Show me the money! But seriously, how do I get my money?
	        </a>
	      </h4>
	    </div>
	    <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
	       	<p>Using Direct Checkout, buyers pay with their debit or credit card and you get your money in your account within 2 business days. It’s really that simple.</p>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFour">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-faq-seller" href="#four" aria-expanded="false" aria-controls="four">
	          Someone bought my food, now what?
	        </a>
	      </h4>
	    </div>
	    <div id="four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      <div class="panel-body">
	       	<p>Pack it up and send it off before you get the temptation to eat it yourself! Depending on the shipping method selected by the buyer, you will need to do one of two things:</p>
	       	<ul>
						<!-- <li>Using Postmates, a courier will be to you shortly to pick up the package and deliver it to the hungry buyer</li> -->
						<li>Using FedEx, UPS, or USPS schedule a pick up or drop your package off at your preferred location</li>
					</ul>

					<p>Once the item has shipped, make sure to provide the buyer with a tracking number so they can continuously track the location of their delicious package.</p>
	      </div>
	    </div>
	  </div>

	</div><!-- close accordion -->

	<h3>General FAQ's</h3>

	<div class="panel-group" id="accordion-faq-general" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFive">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion-faq-general" href="#five" aria-expanded="true" aria-controls="five">
	          What is Leema anyway?
	        </a>
	      </h4>
	    </div>
	    <div id="five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	      <div class="panel-body">
	        <p>Leema is an online marketplace that allows Culinary Artisans to sell the food products they put their heart and soul into creating to buyers with great taste.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingSix">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-faq-general" href="#six" aria-expanded="false" aria-controls="six">
	          What am I doing here?
	        </a>
	      </h4>
	    </div>
	    <div id="six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
	      <div class="panel-body">
	        <p>Buying or selling delicious and unique food items!</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingSeven">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-faq-general" href="#seven" aria-expanded="false" aria-controls="seven">
	          How does Leema make money?
	        </a>
	      </h4>
	    </div>
	    <div id="seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
	      <div class="panel-body">
	        <p>We make sure that we are successful only when our sellers are successful. We take 10% of all completed sales.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingEight">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-faq-general" href="#eight" aria-expanded="false" aria-controls="eight">
	          What the heck does Leema even mean?
	        </a>
	      </h4>
	    </div>
	    <div id="eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
	      <div class="panel-body">
	        <p>Leema stands for Let Everyone Eat My Art.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingNine">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-faq-general" href="#nine" aria-expanded="false" aria-controls="nine">
	          Who started Leema?
	        </a>
	      </h4>
	    </div>
	    <div id="nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
	      <div class="panel-body">
	        <p>A hipster, a nerd, and a fat kid at heart.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTen">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-faq-general" href="#ten" aria-expanded="false" aria-controls="ten">
	          How do I join the Leema community?
	        </a>
	      </h4>
	    </div>
	    <div id="ten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
	      <div class="panel-body">
	        <p>To join the Leema community of food, create a free account by clicking “Register” on our homepage.</p>
	      </div>
	    </div>
	  </div>
	</div>
</div>
