

.flash, .alert {
  width: 100%;
  padding: 16px;
  text-align: center;
  z-index: 1000;

}

.alert.errorExplanation {
	text-align: left;

	ul {
		margin-left: 30px;
		margin-top: 5px;
	}

	p:first-of-type {
		margin-top: 15px;
	}
}
